{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "not dead"]
        },
        "loose": true,
        "corejs": "3",
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    [
      "@emotion/babel-preset-css-prop",
      {
        "autoLabel": true,
        "sourceMap": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "server": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "corejs": "3",
            "shippedProposals": true
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@emotion/babel-preset-css-prop",
          {
            "hoist": true
          }
        ]
      ]
    }
  }
}
