.items-list {
  &-item {
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: inherit;

    &-date {
      display: block;
    }

    &-details {
      display: flex;
    }
  }
}
