@font-face {
  font-family: "tiempos-regular";
  src: url("https://spender-static.s3.amazonaws.com/tiempos/TiemposTextWeb-Regular.woff2")
      format("woff2"),
    url("https://spender-static.s3.amazonaws.com/tiempos/tiempos/TiemposTextWeb-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tiempos-regular";
  src: url("https://spender-static.s3.amazonaws.com/tiempos/tiempos/TiemposTextWeb-RegularItalic.woff2")
      format("woff2"),
    url("https://spender-static.s3.amazonaws.com/tiempos/tiempos/TiemposTextWeb-RegularItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "tiempos-semibold";
  src: url("https://spender-static.s3.amazonaws.com/tiempos/tiempos/TiemposTextWeb-Semibold.woff2")
      format("woff2"),
    url("https://spender-static.s3.amazonaws.com/tiempos/tiempos/TiemposTextWeb-Semibold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tiempos-head-semibold";
  src: url("https://spender-static.s3.amazonaws.com/tiempos/TiemposHeadWeb-Semibold.woff2")
      format("woff2"),
    url("https://spender-static.s3.amazonaws.com/tiempos/TiemposHeadWeb-Semibold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tiempos-head-semibold";
  src: url("https://spender-static.s3.amazonaws.com/tiempos/TiemposHeadWeb-SemiboldItalic.woff2")
      format("woff2"),
    url("https://spender-static.s3.amazonaws.com/tiempos/TiemposHeadWeb-SemiboldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
}
