// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-light: 200;
$font-weight-bold: bold;

$font-size-big: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 13px;
