// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: Tiempos, Georgia, serif;
$font-weight-light: 200;
$font-weight-bold: bold;

$font-size-big: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 13px;
